@import "../../node_modules/bootstrap/scss/bootstrap.scss"

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"

body
    font-family: 'Courgette', cursive

header
    background: url("../../public/images/banner1.jpg")
    background-size: 203vh 83vh
    .sisi
        background-color: rgba(0, 0, 0, 0.7)
        height: 80vh


ul
    img
        padding-bottom: 1%
    a
        border-bottom: white solid 2px
        border-top: white solid 2px
        padding: 20px
    a:hover
        background-color: #db2134
        text-decoration: none

.carousel-item
    button
        border-radius: 20px
        margin-top: 3%
        padding: 10px

.dents
    background: url("../../public/images/bottom_decoration_img.png")
    color: black
        


.sec-1
    background: url("../../public/images/main_bg.jpg")

.div-fullimage
    .oklm
        border-bottom: solid black 1px
        width: 90%
        
    img
        padding: 0
        border-radius: 50%
    .p2
        width: 50px
        background-color: #a4a6a8

.chefs
    background-image: url("../../public/images/team_background.jpg")
    .chefs-glk
        img
            border-bottom: white solid 1px

.nav-pills 
    .nav-link.active,
    .show > .nav-link 
        color: red
        background-color: white
        border-right: 5px solid red
        
.nav
    a
        color: black
        border-bottom: 1px solid black
        border-right: 1px solid black

.sec-2
    background: url("../../public/images/main_bg.jpg")
    
.div-form
    background: url("../../public/images/book_table_bg.jpg")
    border-radius: 10px
    input
        border-radius: 20px
        padding: 10px
        margin: 10px
    button
        border-radius: 25px

.div-2img
    h4
        margin-left: 110px
    h5
        margin-left: 80px
    p
       margin-left: 110px 
    img
        width: 80%
        border-radius: 25px
        border: solid gray 3px
    .p50
        width: 70%
        transform: translate(30px, -38px)

.know-more
    button
        border-radius: 25px        

.sec3
    background-image: url("../../public/images/testimonials_background.jpg")        

.div-femme
    img
        border-radius: 50%
        border: white solid 3px

.div-test
    border: 1px white solid
    border-radius: 10px
    