@import "../../node_modules/bootstrap/scss/bootstrap.scss"

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"

h1, h2, h3
    font-family: 'Courgette', cursive
h6
    font-size: 300%

header
    background: url("../../public/images/banner1.jpg")
    background-size: 203vh 80vh
    .sisi
        background-color: rgba(0, 0, 0, 0.7)
        


ul
    img
        padding-bottom: 1%
    a
        border-bottom: white solid 2px
        border-top: white solid 2px
        padding: 20px
    a:hover
        background-color: #db2134
        text-decoration: none

.carousel-item
    button
        border-radius: 20px
        margin-top: 3%
        padding: 10px
.carousel-sisi
    height: 50vh

.carou-sisi
    h2
        font-size: 300%
.dents
    .dents-mini
        background-image: url("../../public/images/bottom_decoration_img.png")
        height: 10px
        
        
        


.sec-1
    background: url("../../public/images/main_bg.jpg")

.div-fullimage
    .oklm
        border-bottom: solid black 1px
        width: 90%
        
    img
        padding: 0
        border-radius: 50%
    .p2
        width: 50px
        background-color: #a4a6a8

.chefs
    background-image: url("../../public/images/team_background.jpg")
    .chefs-glk
        img
            border-bottom: white solid 1px

.nav-pills 
    .nav-link.active,
    .show > .nav-link 
        color: red
        background-color: white
        border-right: 5px solid red
        
.nav
    a
        color: black
        border-bottom: 1px solid black
        border-right: 1px solid black

.sec-2
    background: url("../../public/images/main_bg.jpg")
    
.div-form
    background: url("../../public/images/book_table_bg.jpg")
    border-radius: 10px
    
    select,input
        width: 24vh
        height: 5vh
        border: white 1px solid
        border-radius: 20px
        background-color: white
        margin-top: 2%
    ::placeholder
        color: black    
 
    button
        border-radius: 25px

.div-2img
    h4
        margin-left: 110px
    h5
        margin-left: 80px
    p
       margin-left: 110px 
    img
        width: 80%
        border-radius: 25px
        border: solid gray 3px
    .p50
        width: 70%
        transform: translate(30px, -38px)

.know-more
    button
        border-radius: 25px        

.sec3
    background-image: url("../../public/images/testimonials_background.jpg")        

.div-femme
    img
        border-radius: 50%
        border: white solid 3px

.div-test
    border: 1px white solid
    border-radius: 10px

.sec4
    background-image: url("../../public/images/main_bg.jpg")

.div-contact
    border-radius: 20px

.hr
    border-top: 1px solid white

.dents2
    .dents-mini2
        background-image: url("../../public/images/footer_bottom_decoration_img.png")
        height: 10px

footer
    background: url("../../public/images/footer_background.jpg")
    height: 40vh
.btn-footer
    border: solid 1px white
    border-radius: 20px

.sec5
    height: 8vh
